.football {
    position: relative;
    margin-top: 20px; margin-bottom: 20px;
}
.field {
    width: 100%;
    border-radius: 10px;
}
.ball {
    position: absolute;
/*    top: 43.8%;
    left: 46.4vw;
    width: 25vw;*/
}
.goal {
    position: absolute;
    top: 25%;
    left: 23vw;
    font-size: 15vw;
}